<h1 class="text-center">Threads</h1>
<table class="table table-striped">
  <tr>
    <th  class="cell1">
      View
    </th>
    <th class="first-cell">
      Thread Name &nbsp&nbsp&nbsp
    </th>
    <th>
      Author &nbsp&nbsp&nbsp
    </th>
    <th>
      Date &nbsp&nbsp&nbsp
    </th>
    <th>
      Number of Messages
    </th>
    <th>Likes</th>
  </tr>
  <% @posts.each do |post| %>
      <tr>
        <th >  <a class="black-icon" href="/post/view/<%= post.id %>"><i class="fa fa-search"></i></a></th>
        <th class="first-cell">
          <%= post.title %> <small><em><%= post.description %></em></small>
        </th>
        <th>
          <%= User.first(:id => post.user_id).username %>
        </th>
        <th>
          <%= post.date.strftime('%b %d, %Y at %l:%M %p')%>
        </th>
        <th>
          <%= Disc.where(:post_id => post.id).count%>
        </th>
        <th>
          <% if post.voted.split(', ').include?(session["id"].to_s) == true %>
              <a class="black-icon" href="/post/like/<%= post.id %>/2"><i class="fa fa-thumbs-up"></i></a>
          <%else%>
              <a class="black-icon" href="/post/like/<%= post.id %>/2"><i class="fa fa-thumbs-o-up"></i></a>
          <%end%>
          <span class="badge"><%= post.likes %></span>
        </th>
      </tr>
  <% end %>
</table>
<form class="form-horizontal" action="/post/new" method="post">
  <div class="form-group  text-center ">
    <div class="text-center">
      <input type="text" class="form-control " name="title" placeholder="Title">
    </div>
  </div>
  <div class="form-group">
    <div class="text-center">
      <input type="text" class="form-control " name="desc" placeholder="Description">
    </div>
  </div>
  <div class="form-group">
    <div class="text-center">
      <button class="btn btn-primary btn-block text-center" type="submit">Submit New Thread <i class="fa fa-lg fa-pencil-square-o"></i></button>
    </div>
  </div>
</form>
