<h1 class="text-center">Users</h1>
<table class="table table-striped">
  <tr>
    <th>
      View
    </th>
    <th class="first-cell">
      Name
    </th>
    <th>
      Number of Threads &nbsp&nbsp&nbsp
    </th>
    <th>
      Number of Messages &nbsp&nbsp&nbsp
    </th>
    <th>
      Total Likes
    </th>
  </tr>
  <% @users.each_with_index do |user, i| %>
      <tr>
        <th>
          <a class="black-icon" href="/user/view/<%= user.id %>"><i class="fa fa-search"></i></a>
        </th>
        <th class="first-cell"><%= user.username %>  </th>
        <th>
          <%= Post.where(:user_id => user.id).count %>
        </th>
        <th>
          <%= Disc.where(:author_id => user.id).count %>
        </th>
        <th>
          <%=@likes[i]%>
        </th>
      </tr>
  <% end %>
</table>